h1{
    text-align: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    padding: 20px;
}

p{
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding: 8px;
}

body{
    margin: 5;
    font-family: Arial, sans-serif;
    font-weight: bold;
    /*background: rgb(245, 245, 245);*/
    background: url('https://png.pngtree.com/background/20211215/original/pngtree-black-and-white-background-creative-abstract-texture-picture-image_1457136.jpg') center/cover no-repeat fixed;
}   

.contenedor{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-start;
	flex-wrap: wrap;
	background: rgb(245, 245, 245);
	padding: 50px;
	height: fit-content;
    gap: 25px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border: 35px solid rgb(255, 255, 255);
    font-size: 25px;
    overflow: hidden;
    width: 300px;
    height: 300px;
    flex-direction: column;
}

.item img {
    width: 75%;
    height: 75%;
    object-fit: contain;
}